@import '../../common/colors.scss';

.movie-wrapper {
   color: $font-primary
}

.movie-list,
.show-list {
   margin: 20px 0;

   h2 {
      color: $font-secondary;
      margin-bottom: 10px;
      font-weight: 400;
   }
}

.movie-loading {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 84vh;
}

.movies-error {
   font-size: 35px;
   color: red;
}